body {
    margin: 0px;
}

.main {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.hero {
    width: 100%;
    height: 600px;
    background-color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    line-height: 30px;
    background-image: url('/ZOMATO-CLONE/images/foods.jpg');
    background-size: cover;
    background-attachment: fixed;

    img {
        width: 131px;
        height: 32px;
        padding-top: 120px;
    }

    h1 {
        color: white;
        font-weight: bold;
        font-size: 48px;
    }

    p {
        color: white;
    }

    .install-icons {
        width: 320px;
    }
}

.promotional-main {
    background-image: url('/ZOMATO-CLONE/images/bg-drop.avif');
    background-size: contain;
    background-attachment: fixed;

    width: 100%;
    height: 700px;
    align-items: center;
}

.promotional-left {
    width: 26%;
    height: 700px;
    float: left;

    img {
        width: 105px;
        height: 105px;
        padding-top: 310px;
        padding-left: 17px;

    }
}

.promotional-middle {
    width: 48%;
    height: 700px;
    float: left;
}

.promotional-middle h2 {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: brown;
    padding-top: 40px;
}

.promotional-middle p {
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.promotional-right {
    width: 26%;
    height: 700px;
    float: left;

    img {
        width: 105px;
        height: 105px;
    }

    img#momos {
        padding-top: 29px;
        padding-left: 15px;
        margin-left: 50%;
        margin-right: 50%;
    }

    img#pizza {
        padding-top: 350px;
        padding-left: 0px;
        margin-left: 50%;
        margin-right: 50%;
    }

}

.stats-main {
    background-color: grey;
    width: 100%;
    height: 300px;
    padding-top: 150px;
}

.stats-container {
    width: 80%;
    height: 200px;
    margin: auto;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 2px red;
}

.stats-left {
    width: 26%;
    height: 200px;
    float: left;
    border-radius: 50px;
    background-color: blue;
    text-align: center;
}

.stats-middle {
    width: 48%;
    height: 200px;
    float: left;
    border-radius: 50px;
    background-color: blue;
    text-align: center;
}

.stats-right {
    width: 26%;
    height: 200px;
    float: left;
    border-radius: 50px;
    background-color: blue;
    text-align: center;
}

.stats-left-text {
    float: left;
    width: 35%;
    height: 35%;
    margin: auto;
    font-size: 15px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    h2 {
        font-size: 20px;
    }
}

.stats-left-img {
    width: 35%;
    height: 35%;
    margin: auto;

    img {
        width: 100%;
        height: 100%;
    }

}