.main-navbar {
    width: 1000px;
    height: 70px;
    background-color: rgb(0, 255, 60);
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.main-navbar-logo {
    width: 60px;
    height: 60px;
    float: left;
    background-color: rgb(0, 255, 60);
    margin: 7px 10px;

    img {
        width: 100%;
        height: 100%;
    }
}

.main-navtags {
    float: left;
    width: 400px;
    height: 60px;
    margin: 20px 30px;
}

.main-navbar-search {
    width: 170px;
    height: 22px;
    margin: 20px;
    float: right;
}

.hero {
    width: 1000px;
    height: 500px;
    background-color: green;
    letter-spacing: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    border: 2px dashed black;
    margin: 20px;
    padding: 0px 0px;
    color: pink;
    font-style: italic;
    text-transform: capitalize;
    font-weight: bold;
    background-image: url('/myntra-clone/images/hero.webp');
    background-size: contain;
    background-position: left;
    background-attachment: fixed;
    background-repeat: repeat-x;
}

.hero-text {
    font-size: 30px;
    text-align: center;
    margin-top: 150px;
}

.hero-cta {
    button {
        background-color: blue;
        width: 200px;
        height: 60px;
        color: rgb(0, 255, 60);
        font-weight: bold;
        font-size: 35px;
        border-radius: 10px;
        border: none;
        cursor: pointer
    }
}

.footer-main {
    width: 1000px;
    height: 250px;
    background-color: green;
    margin: 20px;
}

.footer-main-logo {
    width: 60px;
    height: 60px;
    float: left;
    background-color: rgb(0, 255, 60);
    margin: 7px 10px;

    img {
        width: 100%;
        height: 100%;
    }
}

.footer-main-navtags {
    float: left;
    width: 400px;
    height: 60px;
    margin: 20px 30px;
}

.footer-main-cta {
    float: left;
    width: 200px;
    height: 60px;
    margin: 20px 30px;
}

.featured-product {
    width: 1000px;
    height: 400px;
    background-color: grey;
    margin: 20px;
    padding: 5px 10px;

    h2 {
        text-shadow: 0px 0px 5px blue;
        color: white;
    }
}

.featured-product-slider {
    width: 100%;
    height: 250px;
    background-color: green;
    margin: 0px;

    .featured-product-slider-item {
        width: 200px;
        height: 200px;
        background-color: red;
        float: left;
        margin: 25px 10px;
        box-shadow: 0px 0px 5px 2px blue inset;
        border-radius: 10px;

        img {
            width: 100px;
            height: 100px;
        }

        h3 {
            text-align: center;
            color: white;
        }

        p {
            text-align: center;
            color: white;
            font-size: 10px;
        }

    }
}