.main-navbar {
    width: 1000px;
    height: 70px;
    background-color: rgb(0, 255, 60);
    align-items: center;
}

.main-navbar-logo {
    width: 60px;
    height: 60px;
    float: left;
    background-color: red;

    img {
        width: 100%;
        height: 100%;
    }
}

.main-navtags {
    float: left;
    width: 400px;
    height: 60px;
    padding-left: 20px;
}