body {
    margin: 0;
    padding: 0;
}

.main-nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.nav-container {
    padding: 15px 25px;
    width: 95%;
    height: 95%;
    display: flex;
    align-items: center;

    .nav-links {
        padding-left: 20px;
    }

    a {
        text-decoration: none;
        color: black;
    }
}

.nav-buttons {
    display: flex;
    margin-left: auto;
    gap: 8px;
    align-items: center;

    .login-btn {
        width: 60px;
        height: 30px;
        border: 2px solid blue;
        border-radius: 12px;
        background-color: white;
        color: blue;
    }

    .start-building-btn {
        width: 120px;
        height: 30px;
        font-size: 10px;
        border-radius: 12px;
        border: none;
        background-color: blue;
        color: White;
    }

    .fa-magnifying-glass {
        color: black;
    }
}

.hero {
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    img {
        height: 20px;
        width: 400px;
    }
    
}